@use '../App' as app;

.session-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0;
    background-color: app.$gray;
    color: black;

    .edit-icon {
        float: right;
        cursor: pointer;
    }
}