@use '../App' as app;

.year-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically centers all items */
    justify-content: space-between; /* Spreads items: previous to left, year to center, next to right */
    gap: 1rem; /* Maintains spacing between elements */
    width: 100%; /* Ensures the container takes full width for proper spacing */

    padding: 0 1rem; 

    .previous-icon,
    .next-icon {
        cursor: pointer; /* Optional: Enhances UX for clickable icons */
    }
  }
  
.link-with-icon {
    display: flex;
    flex-direction: row; /* Optional, as row is default */
    align-items: center; /* Vertically centers items */
    justify-content: center; /* Horizontally centers items */
    gap: 8px;
    padding: 16px;
    text-align: center; /* Centers text within each flex item, if needed */
    font-size: 18px;
    color: app.$orange;
  }

.session-card {
  .icon {
    margin-left: auto;
  }
}