@use '../../App' as app;

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  
    .search-wrapper {
      position: relative;
  
      input {
        box-sizing: border-box;
        border: 1px solid #ccc; // Optional: Add border for visibility
        border-radius: 4px; // Optional: Rounded corners
        text-indent: 20px; // Shift placeholder text slightly to avoid icon overlap
      }
  
      .search-icon {
        position: absolute;
        left: 10px; // Position icon inside the input's left padding
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px; // Slightly smaller for better fit; adjust as needed
        color: dimgray;
        z-index: 1; // Ensure icon stays above input text
        pointer-events: none; // Prevent icon from interfering with input focus/click
      }
    }
  }

  .sort-options {
    margin-left: 15px;
    position: relative;

    .sort-dropdown {
        z-index: 100;
        position: absolute;
        top: 20px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 200px;
            background-color: white; // Dark, Dune-inspired background
            border-radius: 8px; // Rounded corners
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); // Soft shadow for depth
            font-family: 'Arial', sans-serif; // Clean, modern font
          
            li {
              padding: 12px 16px;
              color: black; // Light text for contrast
              cursor: pointer;
              transition: background-color 0.3s ease, color 0.3s ease;
          
              &:hover {
                background-color: app.$orange; // Dune-inspired golden accent
              }
          
              &:not(:last-child) {
                border-bottom: 1px solid #4a4a4a; // Subtle separator between items
              }
              &.active {
                font-weight: 800;
              }
            }
          }
    }
  }